h1 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 300%;
    word-spacing: 0.2em;
    line-height: 0;
    font-family: Georgia, serif;
}

h2 {
    font-size: 150%;
    margin-top: 2em;
    margin-bottom: 1em;
}

h1, h2 {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin-top: .5em;
    margin-bottom: .5em;
}

body {
    background-color: lightyellow;
    font-family: Georgia, serif;
    font-size: large;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 45px;
    border-style: dotted;
    padding: 30px 40px;
}

div.fig { display:block;
    text-align:center;
    margin: 1em auto;
}
